[mysqld]
innodb_buffer_pool_size=4G
skip-log-bin

max_allowed_packet=2G
character-set-server=utf8
collation-server=utf8_general_ci
sql_mode=''
default-authentication-plugin=mysql_native_password
default-time-zone='+03:00'
innodb_flush_log_at_trx_commit=2

[mysqldump]
quick
quote-names
max_allowed_packet=2G
